body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
  margin: 1%;
  padding: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.toDoList {
  width: 40%;
  clear: left;
}
.logList {
  width: 58%;
<<<<<<< HEAD
}

.proxyList {
  width: 40%;
}

.box {
  background-color: rgb(240, 237, 228, 0.7);
  /* border: 1px solid #000; */
  border-radius: 14px;
  padding: 10px;
  float: left;
  margin-right: 1%;
  margin-top: 10px;
}

#search, #listId, #proxyIpInput, #descInput {
  width: 36%;
  margin-left: 1%;
  float: left;
}
#filerow {
  clear: left;
  display: inline-block;
}

#inputArea {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

#buttonAdd, #delete {
  float: left;
  margin-left: 1%;
}

#listIdSelect {
  height: 100px;
}

.dash {
  width: 96%;
  margin-top: 10px;
}

.secDash {
  float: left;
  width: 50%;
}

#run {
  width: 100%;
  height: auto;
=======
}

.proxyList {
  width: 40%;
}

.box {
  background-color: rgb(240, 237, 228, 0.7);
  /* border: 1px solid #000; */
  border-radius: 14px;
  padding: 10px;
  float: left;
  margin-right: 1%;
  margin-top: 10px;
}

#search, #listId, #proxyIpInput, #descInput {
  width: 36%;
  margin-left: 1%;
  float: left;
}

#inputArea {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

#buttonAdd, #delete {
  float: left;
  margin-left: 1%;
}

#listIdSelect {
  height: 100px;
}

.dash {
  width: 96%;
  margin-top: 10px;
}

.secDash {
  float: left;
  width: 50%;
}

#run {
  width: 100%;
  height: auto;
}

#upload {
  width: 85% !important;
  display: inline;
}

#uploadBtn {
  display: inline-block;
>>>>>>> a2fbb80 (19.09.2023)
}